@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");
@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

* {
	font-weight: 300;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

h1 {
	color: #e85d04;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.2;
}

h3 {
	font-size: 1.3rem;
	line-height: 1.2;
	color: #e85d04;
}

h5 {
	color: #ff9451;
}

span {
	text-transform: capitalize;
}

div {
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
	position: relative;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: #e85d04;
}

a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 1px;
	bottom: -2px;
	left: 0;
	background-color: #e85d04;
	transition: width 0.3s ease-in-out;
}

a:hover::after {
	width: 100%;
}

li:hover {
	color: #e85d04;
}

.animation-swap {
	transition: 2s infinite ease-in-out;
}

body {
	font-family: "Science Gothic", sans-serif;
	text-transform: lowercase;
}

::-webkit-scrollbar {
	display: none;
}

* {
	scrollbar-width: none;
}
